<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Welcome to Socializer, powered by the MEAN stack and MEAN.js!
      </p>
    </div>
  </div>
  <div>
    <h2>Seems legit, where do I sign up!?</h2>
    <p>You don't, we tried to make it as simple as possible to start talking to weirdos!</p>
  </div>
  <div class="well">
    <h2>Join? What!?</h2>
    <p>
      <p>You just press <strong>join</strong>, set your display name and you join right in. <strong>No registration required</strong>! <br> What's that? Your mom said not to talk to strangers? Well, <strong>she ain't here</strong>, now, is she!?</p>
      <ul>
        <li>
          Click or tap join.
        </li>
        <li>
          Set your display name.
        </li>
        <li>
          Kill some time.
        </li>
      </ul>
    </p>
  </div>  
  <br>Enjoy &amp; Keep Us Updated,
  <br>The MEAN.JS Team.
</section>
